@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
/*
.image{
  height:50em;
  background-size:cover;
  width:100%;
  background-image:url('../../assets/images/sh9.jpg');
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.div2
{
  height: 600px;
  width: 700px;
  position: absolute;
  left:20em;
  top:7.5em;
  background: linear-gradient(to bottom left,#445775,#83adc7,#b6a9c2);
  color: #ffebf4;
  font-size: 20px;
  box-shadow:3px 3px 10px antiquewhite;

}
.btnStyle
{
  width:90px;
}
.formText{
  font-size: 14px;
}
.logReg
{
  height: 2.5em;
  width:700px;
  background-color:white;
  position: absolute;
  top:7em;
  left:25em;
  display: flex;
}
.lr:hover
{
  background-color: #83adc7;
}
*/

#grad {
  height: 760px;
  background-color: #F9E3F5;
  background-image: linear-gradient(to bottom right, white,#f2d0f2,#fabbfa,white);
}
.font1 {
  font-family: 'Allerta Stencil', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');

.signupbox {
  height : auto;
  width : 400px;
  position: absolute;
  margin-top: 70px;
  margin-left: 35%;
}
.colr{
  background-color:#FF3F6C;
}
